In [1]:
from ORBIT import ProjectManager
import yaml
import pandas as pd

In [2]:
with open("base.yaml", 'r') as stream:
    config = yaml.safe_load(stream)
weather = pd.read_csv("vineyard_wind_repr_with_whales.csv")

In [3]:
project = ProjectManager(config, weather=weather)
project.run()

ORBIT library intialized at 'c:\Users\sbredenk\Repos\ORBIT_natl_gaps\library'
TurbineInstallation:
	 Warning: 'Feeder 0' Deck Space Capacity Exceeded
TurbineInstallation:
	 Warning: 'Feeder 1' Deck Space Capacity Exceeded

In [4]:
project.capex_breakdown

{'Substructure': 550870071.6105514,
 'Substructure Installation': 64625453.84981616,
 'Turbine Installation': 47542755.650684945,
 'Turbine': 780000000,
 'Soft': 387000000,
 'Project': 151250000.0}

In [5]:
logs = pd.DataFrame(project.actions)

In [6]:
display(logs)

,cost_multiplier,agent,action,duration,cost,level,time,phase,phase_name,location,site_depth,hub_height
0,1.0,WTIV,Mobilize,168.000000,1.260000e+06,ACTION,0.000000,MonopileInstallation,NaN,NaN,NaN,NaN
1,0.5,Feeder 0,Mobilize,72.000000,1.125000e+05,ACTION,0.000000,MonopileInstallation,NaN,NaN,NaN,NaN
2,0.5,Feeder 1,Mobilize,72.000000,1.125000e+05,ACTION,0.000000,MonopileInstallation,NaN,NaN,NaN,NaN
3,NaN,WTIV,Transit,5.000000,3.750000e+04,ACTION,5.000000,MonopileInstallation,NaN,NaN,NaN,NaN
4,NaN,Feeder 0,Fasten Monopile,12.000000,3.750000e+04,ACTION,12.000000,MonopileInstallation,MonopileInstallation,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2151,NaN,Feeder 1,Jackdown,1.666667,5.208333e+03,ACTION,6636.334702,TurbineInstallation,TurbineInstallation,NaN,NaN,NaN
2152,NaN,WTIV,Attach Blade,3.500000,2.625000e+04,ACTION,6639.618035,TurbineInstallation,TurbineInstallation,NaN,45.0,145.0
2153,NaN,WTIV,Jackdown,0.466667,3.500000e+03,ACTION,6640.084702,TurbineInstallation,TurbineInstallation,NaN,45.0,145.0
2154,NaN,Feeder 1,Transit,8.333333,2.604167e+04,ACTION,6644.668035,TurbineInstallation,NaN,NaN,NaN,NaN
2155,NaN,WTIV,Transit,5.000000,3.750000e+04,ACTION,6645.084702,TurbineInstallation,NaN,NaN,NaN,NaN

In [7]:
phase_log = logs.groupby(["phase"]).duration.sum().reset_index()

In [8]:
display(phase_log)

                  phase      duration
0  MonopileInstallation  11777.690773
1   TurbineInstallation   8660.790000

In [9]:
phase_log['yr_duration'] = phase_log['duration']/8760

In [10]:
display(phase_log)

                  phase      duration  yr_duration
0  MonopileInstallation  11777.690773     1.344485
1   TurbineInstallation   8660.790000     0.988675

Turbines: 4x fasten times for all components (blades, tower, nacelle)

Monopiles: 1.3yrs with base fasten time

scenario with overlap for phases (25%)